*
!Dockerfile
!glide_model.py
**/AppData/
**/Application Data/
**/Local Settings/
**/Documents and Settings/
**/.git/
**/__pycache__/
*.pyc
*.log
**/node_modules/
**/venv/
**/*.exe
**/*.dll
